@page "/"
@rendermode InteractiveServer
@inject IDataService data
@attribute [Authorize]

<PageTitle>Tasks</PageTitle>

<h1>My tasks</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>Created</th>
			<th>Completed</th>
		</tr>
	</thead>
	<tbody>
		@if (tasks == null)
		{
			<tr>
				<td colspan="5">Loading...</td>
			</tr>
		}
		else
		{
			@foreach (var task in tasks)
			{
				<tr>
					<td>@task.Id</td>
					<td>@task.Title</td>
					<td>@task.Description</td>
					<td>@task.CreatedDate</td>
					<td>@task.FinishDate</td>
				</tr>
			}
		}
	</tbody>
</table>
@code {
	IEnumerable<TaskItem>? tasks;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		tasks = await data.GetTaskItemsAsync();
	}
}